.main {
  @apply bg-neutral-50
  min-h-screen
  grid
  gap-4
  p-4
  overflow-hidden;
}

@media (min-width: 768px) {
  .main {
    grid-template-rows: min-content auto;
    grid-template-columns: 2fr 3fr;
  }
}

.header {
  @apply bg-blue-600
  md:col-span-2
  rounded-lg
  flex
  items-center
  justify-center
  shadow
  animate-fade-in-down
  p-4
  md:p-8
  lg:p-10
  xl:p-12
  2xl:p-14;
}

.hero-section {
  @apply bg-gray-200
  rounded-lg
  flex
  flex-col
  justify-center
  items-center
  md:items-start
  animate-fade-in-left
  p-4
  md:p-8
  lg:p-10
  xl:p-12
  2xl:p-14;
}

.hero-title {
  @apply text-4xl
  uppercase
  font-bold
  text-gray-900
  text-center
  md:text-left;
}

.hero-description {
  @apply mt-2
  mb-6
  text-gray-600
  text-center
  md:text-left;
}

.learn-course-link {
  @apply text-blue-500
  hover:underline
  hover:underline-offset-4;
}

.login-btn {
  @apply bg-blue-600
  text-neutral-50
  flex
  gap-2
  items-center
  rounded-lg
  w-min
  text-nowrap
  px-6
  py-3
  uppercase
  shadow-md
  transition
  hover:bg-blue-500;
}

.login-text {
}

.arrow-right-icon {
  @apply size-4
  animate-move-left-right;
}

.app-view-img-container {
  @apply md:flex
  items-center
  justify-center
  transition
  hover:scale-105
  animate-fade-in-right
  hidden;
}

.app-view-desktop {
  @apply h-auto
  w-[550px]
  hidden
  md:block;
}

/* .app-view-mobile {
  @apply h-24 w-auto
  block
  md:hidden;
} */
